/* #root {
    margin: 0 auto;
} */
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lalezar&family=Montserrat:wght@700&family=Readex+Pro:wght@200;300;400;500;600;700&family=Rye&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: rgb(249, 249, 249);
}
/* 
.logo {
    height: 64px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    background-color: rgb(15, 15, 15);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
    background-color: rgb(15, 15, 15);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */
